In [53]:
from newsapi import NewsApiClient
import pandas as pd
from pandas.io.json import json_normalize

In [109]:
from retrying import retry
import re

In [56]:
CoName = pd.read_csv('100-high-risk-Co.csv')

In [58]:
Name1 = CoName.Name1

In [92]:
Name1

0                                       Acer
1                                    Alibaba
2                                AstraZeneca
3                                       Asus
4                              Auchan-Retail
                       ...
95                                Allianz SE
96                       Deutsche Telekom AG
97    MERCK Kommanditgesellschaft auf Aktien
98                  Bayer Aktiengesellschaft
99                                 adidas AG
Name: Name1, Length: 100, dtype: object

In [162]:
list_name1 = list(Name1)

In [123]:
def remove_bad_substrings(s):
    badSubstrings = ["Ltd","Limited","Inc.","Inc","plc","LTD","PLC","Aktiengesellschaft","Company","Co.","Holdings"]
    for badSubstring in badSubstrings: s = s.replace(badSubstring, "")
    return s

In [124]:
Name2 = [remove_bad_substrings(s) for s in Name1]

In [203]:
Name2

['Acer',
 'Alibaba',
 'AstraZeneca',
 'Asus',
 'Auchan-Retail',
 'Ball Corporation',
 'Calfrac Well Services',
 'Carrefour',
 'Cersanit',
 'Cloudflare',
 'Credit Suisse',
 'Decathlon',
 'Didi',
 'd?TERRA',
 'Emirates Airlines',
 'FM Global',
 'Glencore',
 'Greif',
 'Gruma',
 'ID Logistics',
 'International Paper',
 'IPG Photonics',
 'Knauf',
 'Koch Industries',
 'Lenovo',
 'Leroy Merlin',
 'Liebrecht & Wood',
 'Manitowoc',
 'Metro',
 'MOLGroup',
 'MSI',
 'Naspers',
 'Polpharma',
 'Raiffeisen Bank International',
 'SC Johnson',
 'Societe Generale',
 'Tencent',
 'Titan International',
 'Turkish Airlines',
 'Xiaomi',
 'Young Living',
 'Mondelez',
 'Salvatore Ferragamo',
 'Mars ',
 'Kimberly-Clark',
 'Coty',
 'Hilton',
 'Hyatt',
 'Intercontinental Hotels Group',
 'Marriott',
 'DBS Group  ',
 'Oversea-Chinese Banking Corporation ',
 'United Overseas Bank ',
 'Jardine Matheson  ',
 'Singapore Telecommunications ',
 'Wilmar International ',
 'CapitaLand ',
 'Singapore Airlines ',
 'Apple ',
 'Microsoft Corp',
 'Amazon.Com ',
 'Tesla ',
 'Berkshire Hathaway  Class B',
 'Facebook  Class A',
 'Johnson & Johnson',
 'JP Morgan Chase & Co',
 'Walmart Stores ',
 'Procter & Gamble',
 'Ping An Insurance (Group)  of China, ',
 'Industrial and Commercial Bank of China ',
 'China Construction Bank Corporation',
 'China Merchants Bank , ',
 'Agricultural Bank of China ',
 'China Mobile ',
 'PetroChina  ',
 'Bank of China ',
 'HSBC  ',
 'Samsung Electronics , ',
 'LG ENERGY SOLUTION ',
 'SK hynix, ',
 'NAVER Corporation',
 'Kakao Corp',
 'Hyundai Motor ',
 'Kia Motors Corporation',
 'KB Financial Group ',
 'POSCO',
 'Celltrion ',
 'Shinhan Financial Group , ',
 'Netmarble Corporation',
 'Reliance Industries  Sponsored GDR 144A',
 'Linde ',
 'SAP',
 'Unilever ',
 'Siemens ',
 'Volkswagen AG',
 'Allianz SE',
 'Deutsche Telekom AG',
 'MERCK Kommanditgesellschaft auf Aktien',
 'Bayer ',
 'adidas AG']

In [204]:
type(Name2)

list

In [205]:
df_output = pd.DataFrame({'Name1':list_name1, 'Name2':Name2})

In [206]:
df_output

,Name1,Name2
0,Acer,Acer
1,Alibaba,Alibaba
2,AstraZeneca,AstraZeneca
3,Asus,Asus
4,Auchan-Retail,Auchan-Retail
...,...,...
95,Allianz SE,Allianz SE
96,Deutsche Telekom AG,Deutsche Telekom AG
97,MERCK Kommanditgesellschaft auf Aktien,MERCK Kommanditgesellschaft auf Aktien
98,Bayer Aktiengesellschaft,Bayer
99,adidas AG,adidas AG

In [207]:
def function(a,b):
    if a == b:
        return None
    else:
        return b

In [208]:
df_output['Name2'] = df_output.apply(lambda x : function(x['Name1'],x['Name2']),axis=1)

In [209]:
df_output

                                     Name1   Name2
0                                     Acer    None
1                                  Alibaba    None
2                              AstraZeneca    None
3                                     Asus    None
4                            Auchan-Retail    None
..                                     ...     ...
95                              Allianz SE    None
96                     Deutsche Telekom AG    None
97  MERCK Kommanditgesellschaft auf Aktien    None
98                Bayer Aktiengesellschaft  Bayer
99                               adidas AG    None

[100 rows x 2 columns]

In [210]:
df_output.to_csv('CoName.csv')